// color

$green-color: #8EBF0D;
$gray-color: #808080;
$warning-color: #f12e2e;

// font-size

$big-title-font-size: 64px;
$title-font-size: 48px;
$medium-font-size: 24px;
$small-font-size: 20px;
$tiny-font-size: 16px;

// line-height

$big-title-line-height: 77px;
$title-line-height: 58px;
$medium-line-height: 29px;
$small-line-height: 24px;
$tiny-line-height: 19px;